* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* === Categories === */

ul,
ol,
.item {
  list-style-type: none;
  padding: 16px;
  width: 392px;
}
.item li {
  border: 1px solid;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;
}
ul .item {
  background-color: #e6e6e6;
  width: 420px;
  border-radius: 10px;
  margin-top: 15px;
}
.item h2 {
  margin: 0;
}
/* === Galery === */
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 24px;
  width: 1440px;
  justify-content: center;
}
.item-img img {
  display: block;
  width: 360px;
  height: 300px;
}
/* === Task 3 === */
#name-output {
  color: rgb(255, 145, 0);
  font-style: italic;
}
#name-input {
  height: 40px;
  width: 230px;
  border: solid 2px cadetblue;
  border-radius: 5px;
  padding-left: 10px;
  color: #611700;
}
#name-input::placeholder {
  color: #b83b15;
}
#name-input,
h1 {
  color: rgb(127, 150, 255);
}

/* === Form task 4 === */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 494px;
  align-items: center;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;

  background: #d2e8f7;
  box-shadow: #212121;
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
}
.login-form input {
  border-radius: 5px;
  border: 1px solid;
  height: 30px;
  background-color: rgb(17, 189, 103);
  padding-left: 10px;
}
.login-form button {
  width: 86px;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0px solid;
  background: #4e74ff;
  color: #fafafa;
}
.login-form button:hover {
  background: #6c8cff;
}
